<div ng-init="load()" class="showCarContainer">
    <div class="modal-header">
        <h3 class="modal-title">
            {{car.brand | capitalize}} {{car.model | capitalize}}
        </h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="">
                <div class="panelSelected"></div>
                <img ng-src="{{car.image}}" class="img-responsive">
            </div>
            <div class="carInformation ">
                <table class="table table-condensed">
                    <tr>
                        <td><b>Brand</b></td>
                        <td>{{car.brand}}</td>
                    </tr>
                    <tr>
                        <td><b>Year</b></td>
                        <td>{{car.year}}</td>
                    </tr>
                    <tr>
                        <td><b>Price</b></td>
                        <td>{{car.price | currency}}</td>
                    </tr>
                    <tr>
                        <td><b>Engine</b></td>
                        <td>{{car.engine}}</td>
                    </tr>
                    <tr>
                        <td><b>Max. Power</b></td>
                        <td>{{car.maxPower}}</td>
                    </tr>
                    <tr>
                        <td><b>Torque</b></td>
                        <td>{{car.torque}}</td>
                    </tr>
                    <tr>
                        <td><b>Max Vel</b></td>
                        <td>{{car.maxVel}}</td>
                    </tr>
                    <tr>
                        <td><b>Aceleration</b></td>
                        <td>{{car.aceleration}}</td>
                    </tr>
                    <tr>
                        <td><b>Consumption</b></td>
                        <td>{{car.consumption}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="close()">CLOSE</button>
    </div>
</div>