<div ng-init="loadHome()">
	<div class="row searchBox" >
	<div class="input-group input-group-lg col-xs-offset-2 col-xs-8 ">
		<input type="search" ng-model="searchText" class="form-control searchInput" placeholder="Search your brand!">
	</div>
	</div>
	<div class="row">
		<div class="col-xs-11 col-xs-offset-1-5 carsList">
		<div ng-repeat="car in cars | filterCarBy:'brand': searchTextApplied | orderBy : 'brand'" class="col-xs-12 col-sm-4 col-md-4 col-lg-4  animate">
			<div class="panel panel-default" ng-class="{panelselected: car.selected}">
				<div class="containerCarImage" ng-click="select(car)">
					<div class="panelSelected"></div>
					<img ng-src="{{car.image_list}}" class="img-responsive" title="Click to compare">
				</div>
				<div class="carInformation">
					<h3>{{car.brand | capitalize}} {{car.model | capitalize}}</h3>
					<p>{{car.year}}</p>
					<p>{{car.price | currency}}</p>
					<div class="btn-link text-center viewMore" ng-click="show(car)">View More</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="floatToolBar" ng-click="compare()">
	<div class="compareButton"  title="click on the images to compare">
		<p>Compare</p>
	</div>
</div>
 <script type="text/ng-template" id="errorMessage.html">
 You can compare only tree cars at the same time.
 </script>